@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Playfair+Display:ital,wght@1,700&display=swap');
.header {
  margin-top: 20px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Kalam', cursive;
  color:#ee5645;
  text-shadow: 12px 0 11px;
}

.headerTitleLg {
  position: absolute;
  top: 20px;
  font-size: 80px;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}